.wrap {
  display: flex;
  gap: 20px;
}

.toolButton {
  width: 60px;
  height: 60px;
}

.toolColor {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  justify-content: space-between;
  background-color: white;
  padding: 3px;
  border: 1px solid #333;

  & label {
    display: flex;
    justify-content: center;
    width: 100%;

  }

  & input {
    width: 100%;
    height: 100%;
    max-height: 30px;

  }
}

.toolLineWidth {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  justify-content: space-between;
  background-color: white;
  padding: 3px;
  border: 1px solid #333;

  & label {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 80%;

  }

  & input {
    width: 100%;
    height: 100%;
    max-height: 30px;
    text-align: center;
    font-size: 120%;

  }
}
